# docker-compose ile çalışırken kullan
NEXT_PUBLIC_STRAPI_URL=http://strapi:1337
STRAPI_API_TOKEN=your-api-token-here
NEXT_PUBLIC_SITE_URL=http://localhost:3000
RESEND_API_KEY=re_xxx
NEXT_PUBLIC_CDN_URL=http://localhost:1337
