# docker-compose ile çalışırken kullan
NEXT_PUBLIC_DIRECTUS_URL=http://localhost:8055
DIRECTUS_INTERNAL_URL=http://directus:8055
DIRECTUS_TOKEN=your-token-here
NEXT_PUBLIC_SITE_URL=http://localhost:3000
RESEND_API_KEY=re_xxx
